a {
    text-decoration: none;
  }
  
  a:link {
    color: blue;
  }
  
  a:hover {
    color: red;
  }
  
  a:visited {
    color: green;
  }
  
  a:focus {
    outline: 2px solid orange;
  }
  
  a:active {
    color: pink;
  }