body {
    background-color: gainsboro;
}

.todo-list-main {
    background-color: white;
    border-radius: 20px;
    width: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding-top: 10px;
}

.todo-list {
    display: inline-block;
    padding: 20px;
}

ul li {
    list-style: none;
    margin: 12px;
    padding-bottom: 12px;
}

a {
    text-decoration: none;
  }
  
  a:link {
    color: blue;
  }
  
  a:hover {
    color: red;
  }
  
  a:visited {
    color: green;
  }
  
  a:focus {
    outline: 2px solid orange;
  }
  
  a:active {
    color: pink;
  }