.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: sans-serif;
	background: linear-gradient(-45deg, #0f172a, #1e293b, #0b1120, #1e293b);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
    background-position: fixed;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 50% 100%;
	}
	50% {
		background-position: 100% 50%;
	}
	75% {
		background-position: 50% 0%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main-content {
    background-color: #23334c;
    color: white;
    width: 90%;
    height: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border-radius: 16px;;
}

.main-content h1 {
    text-align: center;
    padding-top: 12px;
}

.side-taskbar {
    background-color: #11213c;
    margin-left: 22px;
    height: 75vh;
    width: 90px;
    border-radius: 12px;
}

.side-taskbar ul {
    list-style: none;
}