body{
    background: #DADEE1;
  }
  
  .blog-post-card{
    border-radius: 10px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
    margin-top: 50px;
  }
  
  .post-content{
    padding: 30px;
  }
  
  .read-more{
    color: white;
    background-color: #212842;
    padding: 6px;
    border-radius: 4px;
    margin: 20px;
    display: inline-block;
  }
  
  .read-more:hover{
    background-color: red;
  }
  
  .post-img{
    width: 600px;
    border-bottom: 6px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .post-title{
    margin: 2px;
    color: #447F98;
  }
  
  .post-excerpt{
    margin: 2px;
    color: #212842;
  }