body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
  }
  
  .business-card {
    background-color: white;
    padding: 20px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 16px;
    width: 300px;
  }
  
  .profile-image {
    max-width: 100%;
  }
  
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  a {
    text-decoration: none;
  }